<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false" action="{!VerifyforTelcoProcess}">
 <style>
.tdhead1
{
color:#4a4a56;
text-align: center;
font-size: 91%;
font-weight: bold;
width:190%;
background-color:#4a4a56;
height:20px;
padding-top:10px;
}


</style>

 <apex:sectionHeader title="Digital Local/Foreign Wizard" subtitle="Step 4 of 5" />
<apex:form id="frm">
  <apex:pageMessages ></apex:pageMessages>
  <apex:actionstatus id="fetchStatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
          <apex:pageBlock title="Create Telco File" id="pblk">
          <apex:pageBlockSection columns="3">
            <apex:pageBlockSectionItem >
              <apex:outputLabel >Telco Billing Date</apex:outputLabel> 
              <apex:outputLabel >
              <apex:outputText value="{!telcoBilldate}">
              </apex:outputText>
              </apex:outputLabel>
              </apex:pageBlockSectionItem>  
              <apex:pageBlockSectionItem >
              <apex:outputLabel >Billing Entity</apex:outputLabel> 
              <apex:outputLabel >{!BillingEntity}</apex:outputLabel>
              </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem >
              <apex:outputLabel style="float: left;width: 200px;">Telco Received Electronic File</apex:outputLabel> 
              <apex:outputLabel >
              <apex:inputCheckbox id="elcetronicchkbox" value="{!isElectronicFile}" disabled="true">
              </apex:inputCheckbox>
              </apex:outputLabel>
              </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <apex:pageBlockSection columns="1">
              <apex:pageBlockSectionItem >
               <apex:commandButton id="Sendteclo" value="Create & Send Telco File" style="margin:10px;width:220px;height:30px;font-size:13px" reRender="frm,pblk,btnPanel,XMLOutputSection" status="fetchStatus" action="{!SendTelcoFile}" disabled="{!!isElectronicFile}"/>
              </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <apex:pageBlockSection columns="2">
              <apex:pageBlockSectionItem >
              
               <apex:outputPanel >
               <br/>
               <table cellpadding="0" cellspacing="0" style="width:300px" border="1">
               <tr><td valign="middle" style="text-align: center;font-weight: bold;height: 10px;padding: 3px 0px 0px 0px;background-color: gray;border-color: gray;">Digital Telco Invoice Total</td></tr>
               <tr><td style="text-align: center;font-weight: bold;height: 20px;padding: 8px 0px 0px 0px;" valign="middle">
               <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!SILITotal}"/> 
               </apex:outputText>
               </td></tr>
               </table>
               </apex:outputPanel>
               
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem id="XMLOutputSection">
               <apex:outputPanel title="XML Output">
               <span style="font-weight:bold">XML Output</span><br/>
               <table cellpadding="0" cellspacing="0" style="width:300px" border="1">
               <tr><td valign="middle" style="text-align: center;font-weight: bold;height: 10px;padding: 3px 0px 0px 0px;background-color: gray;border-color: gray;">Digital Telco Invoice Total</td></tr>
               <tr><td style="text-align: center;font-weight: bold;height: 20px;padding: 8px 0px 0px 0px;" valign="middle">
               <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!XMLOutputTotal}"/> 
                            </apex:outputText>
              <br/>
               <apex:actionPoller action="{!CheckTelcoOutput}" enabled="{!Telocpolleraction}" interval="5" reRender="frm,pblk,pbtable,XMLOutputSection" status="pollingStatus"/>
               <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
               </td></tr>
               </table>
               </apex:outputPanel>
              </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <apex:pageBlockSection columns="2">
              <apex:pageBlockSectionItem >
               <apex:outputPanel >
              <!-- <apex:commandButton value="LOB Report" style="margin:10px;width:100px;height:30px;font-size:13px" status="fetchStatus" onclick="window.open('/apex/TelcoLOBReport');return false;"/>&nbsp;&nbsp;
              -->
                <apex:commandButton id="Lobreportbtn" value="LOB Report" style="margin:10px;width:100px;height:30px;font-size:13px" onclick="window.open('/apex/TelcoLOBDigitalReport_v1?en={!BillingEntity}&sdate={!DigitalTelcoSch.Invoice_From_Date__c}&edate={!DigitalTelcoSch.Invoice_To_Date__c}');return false;"/>&nbsp;&nbsp;
               </apex:outputPanel>
              </apex:pageBlockSectionItem>
               </apex:pageBlockSection>
                
                <apex:pageBlockSection id="btnPanel">
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
       <apex:commandButton value="Cancel" style="margin:10px;width:100px;height:30px;font-size:13px" id="CancelSecondStep" action="{!gobackDigitalStep3}"/>
       <apex:commandButton value="Next" style="margin:10px;width:100px;height:30px;font-size:13px" id="NextStep" action="{!goDigitalStep4}"/>
     </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
           </apex:pageBlock>
  </apex:form>



</apex:page>