<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.vfFloatingHeaders.js')}"/>
<script>
        function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("stmntchckbox")!=-1) {
                    inputElem[i].checked = cb.checked;
                    iCount++;
                }
            }
        }
    
     $(function() { 
                if($.browser.mozilla) 
                    //table row doean't float in firefox, div floats 
                    $(".floatingHeader" + " tr th div") 
                            .addClass("floatingStyle"); 
                else 
                    //table row can float in IE and Chrome 
                    $(".floatingHeader"+ " tr th") 
                            .addClass("floatingStyle"); 
            }); 
            function changeFloatingHeaderPosition(container, headerId) { 
                    if($.browser.webkit) //chrome rendering bug fix 
                        $("#"+headerId + " tr th") 
                            .css("visibility", "hidden"); 
                    if($.browser.mozilla) 
                        $("#"+headerId + " tr th div") 
                            .css("top", container.scrollTop); 
                    else 
                        $("#"+headerId + " tr th") 
                            .css("top", container.scrollTop); 
                    if($.browser.webkit) //chrome rendering bug fix 
                        $("#"+headerId + " tr th") 
                            .css("visibility", "visible"); 
            } 

      // Remove this method if you are using Jqeury earlier than 1.9
     (function() {
      var matched, browser;

      // Use of jQuery.browser is frowned upon.
      // More details: http://api.jquery.com/jQuery.browser
      // jQuery.uaMatch maintained for back-compat
      jQuery.uaMatch = function( ua ) {
   ua = ua.toLowerCase();

   var match = /(chrome)[ \/]([\w.]+)/.exec( ua ) ||
       /(webkit)[ \/]([\w.]+)/.exec( ua ) ||
       /(opera)(?:.*version|)[ \/]([\w.]+)/.exec( ua ) ||
       /(msie) ([\w.]+)/.exec( ua ) ||
       ua.indexOf("compatible") < 0 && /(mozilla)(?:.*? rv:([\w.]+)|)/.exec( ua ) ||
       [];

   return {
       browser: match[ 1 ] || "",
       version: match[ 2 ] || "0"
   };
      };

      matched = jQuery.uaMatch( navigator.userAgent );
      browser = {};

      if ( matched.browser ) {
   browser[ matched.browser ] = true;
   browser.version = matched.version;
      }

      // Chrome is Webkit, but Webkit is also Safari.
      if ( browser.chrome ) {
   browser.webkit = true;
      } else if ( browser.webkit ) {
   browser.safari = true;
      }

      jQuery.browser = browser;
  })();
   </script>
   <script type="text/javascript">
            var tableToExcel = (function() {
              var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
              return function(table, name,filename) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet:'Statement Reconciled Invoices', table: table.innerHTML}
                document.getElementById("dlink").href = uri + base64(format(template, ctx));
                document.getElementById("dlink").download = filename;
                document.getElementById("dlink").click();
                //window.location.href = uri + base64(format(template, ctx))
              }
            })()
        </script>   
   <style>
.centercol{text-align:center;width:16%;}
.tableContainer
{
height:290px; 
width: 100%;
overflow: auto;
}       
.floatingStyle 
{ 
position:relative; 
background: none repeat 0% 0% #F2F3F3;
border: 1px solid #E0E3E5;
color: #000;
top:0px; 
padding: 5px 2px 4px 2px;
height:15px;
} 
.tablecss
{
width:100%;
border:0px solid #E0E3E5;

}
.headerdiv
{
color: #000;font-size: 0.9em;font-weight: bold;padding-left:5px;
}
.titleheader
{
    font-weight:bold; 
}
.tdhead
{
    color:#4a4a56;
    text-align: center;
    font-size: 91%;
    font-weight: bold;
    width:25%;
    background-color:#A4A4A4;
    padding-top:10px;
    height:20px;
}
.tdtxt
{
    color:#4a4a56;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width:25%;
    padding-top:10px;
    height:20px;
}
.datatrcss
{
    background-color:white;
}
.datatrcss:hover
{
    background-color:#e3f3ff;
}
.datacss
{
    padding: 4px 2px 4px 5px;
    border: 1px solid #E0E3E5;
    border-width: 0px 0px 1px;
    vertical-align: middle;
} 
    </style>
    <apex:sectionHeader title="Statment Reconcile Wizard" subtitle="Step 2 of 3"/>
    <apex:form id="frm">
    <apex:pageMessages ></apex:pageMessages>
      <apex:actionstatus id="fetchStatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
     </apex:actionstatus>
     
    <apex:actionFunction action="{!toggleExportReturn}" reRender="frm,pgblk,pbtable" name="toggleexportreturn" status="fetchStatus"/>
    <apex:actionFunction action="{!toggleExport}" name="toggleexport" reRender="frm,pgblk,pbtable" status="fetchStatus" oncomplete="tableToExcel('StmtTable', 'StmtTable','Statement Reconciled Invoices.xls');toggleexportreturn();"/>
    
     <apex:pageBlock id="pgblk" title="Invoice Reconciliation" >
             <apex:pageblockButtons location="bottom" id="buttonIds">
                            <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!CancelStmtStep}" status="fetchStatus"/>
                            <apex:commandButton value="Previous" style="width:120px;height:30px;font-size:13px" action="{!backStmtStep1}" status="fetchStatus"/> 
                            <apex:commandButton value="Next" style="width:120px;height:30px;font-size:13px" disabled="{!!isStmtReconciled}" action="{!NextStmtStep2}" /> 
             </apex:pageblockButtons>
             
             <apex:pageBlockSection collapsible="false" columns="4" id="pgblksec">
            <script> 
                    
            var pTableId = 'StmtTable'; 
            var pTableBodyId = pTableId + ':tb';
            var pbsId = '{!$Component.Pg.frm.pgblk.pgblksec}';
                    
            </script>
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Selected Date Range :"/>
                <apex:outputLabel value="{!fromdate} - {!todate}"/>
             </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
             <br/>
              <div class="titleheader">Summary</div> 
             <table cellpading="0" cellspacing="0" width="100%" border="1">
                   <tr>
                            <td class="tdhead">Number of Unreconcilied</td>
                            <td class="tdhead">Sales Invoice Total</td>
                            <td class="tdhead">Sales Credit Note Total</td>
                   </tr>
                   <tr>
                            <td class="tdtxt"><apex:outputText id="stmtRecCount" value="{!StmtReconciledCount}"/></td>
                            <td class="tdtxt">
                            <apex:outputText value="{0,number,$ 0.00}"> 
                            <apex:param value="{!stmtSITotal}"/>
                             </apex:outputText>
                             </td>
                            <td class="tdtxt">
                            <apex:outputText value="{0,number,$ 0.00}">
                            <apex:param value="{!stmtSCNTotal}"/>
                            </apex:outputText>
                            </td>
                   </tr>
              </table>
             <br/>
             <apex:pageBlockSection columns="1" collapsible="false" title="Invoice Summary" id="pbtable">
                  <apex:outputPanel styleClass="tableContainer" layout="block" style="overflow:auto; height:250px;">
                 <div class="floatingContainer" onscroll="changeFloatingHeaderPosition(this,'idHeader');" style="height:250px;overflow:auto;"> 
                  <table cellpadding="0" cellspacing="0" class="tablecss" id="StmtTable">
                    <thead class="floatingHeader" id="idHeader"> 
                            <tr> 
                                <td class="headerdiv">Invoice Number</td>
                                <td class="headerdiv">Invoice Date</td>
                                <td class="headerdiv">Invoice Total</td>
                                <td class="headerdiv"># of SI Line Items</td>
                                <td class="headerdiv">Account Name</td>
                                <td class="headerdiv">Account#</td>
                                <td class="headerdiv">Transaction Type</td>
                                <td class="headerdiv">Rec</td>
                            </tr> 
                     </thead>
                   <apex:repeat value="{!LstStmntWrapper}" var="StmtSIWrap" id="stmtWrapTable">
                        <tr class="datatrcss" >
                        <td class="datacss">     
                        <a href="/{!StmtSIWrap.RecordIds}" target="_blank"> {!StmtSIWrap.InvName}</a>
                        </td>
                        <td class="datacss">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!StmtSIWrap.InvDate}"/> 
                            </apex:outputText>
                            </td>
                        <td class="datacss">{!StmtSIWrap.InvTotal}</td>
                        <td class="datacss">{!StmtSIWrap.SILINum}</td>
                        <td class="datacss">{!StmtSIWrap.accname}</td>
                        <td class="datacss">{!StmtSIWrap.accid}</td>
                        <td class="datacss">{!StmtSIWrap.transactionType}</td>
                         <td class="datacss">
                                 <apex:inputCheckbox id="stmntchckbox" value="{!StmtSIWrap.isReconciled}" rendered="{!!isExport}"/>
                                 <apex:outputText value="{!StmtSIWrap.isReconciled}" rendered="{!isExport}" ></apex:outputText>
                                 
                        </td>
                        </tr>
                      </apex:repeat>
                    </table>
                   <br/>
               </div>     
              </apex:outputPanel>
            </apex:pageBlockSection>
            <br/>
            <table width="100%" border="0">
                <tr>
                     <td colspan="3" align="left">
                     <apex:inputCheckbox value="{!isStmtReconciled}">
                        <apex:actionSupport event="onclick" reRender="pgblk,pgblksec,stmtRecCount,buttonIds" status="fetchStatus" oncomplete="checkAll(this)"/>
                        </apex:inputCheckbox>
                        <apex:outputText value="Reconciled" style="color: #4a4a56;font-weight:bold"/>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td width="10%"><apex:commandButton value="Go Live - Raised Invoice Report" onclick="window.open('/{!EverythingGoneLivewithInvoice}?colDt_s={!fromdate}&colDt_e={!todate}');return false;"/></td>
                    <td width="10%"><apex:commandButton value="Unreconciled OLI Report" onclick="window.open('/{!UnReconciledSLIOLIReportID}?colDt_s={!fromdate}&colDt_e={!todate}');return false;"/></td>
                    <td width="10%">
                    <apex:commandButton id="StmntExportbtn" value="Export to Excel" onclick="toggleexport();return false;"/>
                     <a id="dlink" style="display:none;">Download</a>
                    </td>
                    <td width="70%" align="right"><apex:commandButton value="Refresh" action="{!checkInvoicesforStatement}" reRender="Pg,frm,pgblk,pbtable,stmtWrapTable" status="fetchStatus"/></td>
                </tr>
            </table>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>