<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
<apex:form id="subseq2">
<apex:pageMessages ></apex:pageMessages>
<apex:actionstatus id="fetchStatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
<apex:sectionHeader title="Subsequent Print Local/Foreign Wizard" subtitle="Step 2 of 3"/>
<apex:pageBlock id="subseqblock" title="Subsequent- Invoice Reconcilation">
<apex:pageBlockSection columns="1">
<apex:pageBlockSectionItem dataStyle="text-align:center;padding-top:20px">
  <apex:outputPanel >
  <apex:outputLabel style="color: #4a4a56;font-weight: bold;">Selected Date Range:</apex:outputLabel>
  <apex:outputLabel style="color: #4a4a56;font-weight: bold;"> {!fromdate} - {!todate} </apex:outputLabel>
  </apex:outputPanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>                 
<apex:pageBlockSection columns="1">
<apex:pageBlockSectionItem dataStyle="text-align:center;padding-top:20px">
<apex:commandButton id="subseqbutton" value="Subsequent Reconcilation Report" onclick="window.open('/apex/SubsequentReconciliationReport?rtype=Print&sdate={!fromdate}&edate={!todate}');return false;"/> 
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection columns="1">
<apex:pageBlockSectionItem dataStyle="text-align:center;padding-top:20px">
    <apex:inputCheckbox value="{!IsSubsquentReconcile}"> <b style="color: #4a4a56;">Reconciled</b>     
          <apex:actionSupport event="onclick" reRender="btnPanel" status="fetchStatus"/>          
      </apex:inputCheckbox>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection columns="1">
<apex:pageBlockSectionItem dataStyle="text-align:center;padding-top:20px">
    <apex:outputPanel id="btnPanel">
    <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px;margin-left:30px" id="CancelSecondStep" action="{!cancelSubsequentStep}"/>
    <apex:commandButton value="Previous " style="width:120px;height:30px;font-size:13px;margin-left:30px" id="PrvsSecondStep" action="{!backSubsequentStep1}"/>
    <apex:commandButton value="Next" style="width:120px;height:30px;font-size:13px;margin-left:30px" id="NextStep" disabled="{!!IsSubsquentReconcile}" action="{!SubsequentStep2}"/>
    </apex:outputPanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>