<apex:page standardController="Budget__c" extensions="BudgetReport" contentType="{!exporttype}" sidebar="false">
<head>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.6.js"></script>-->
<apex:includeScript value="{!$Resource.InvertTable}"/>

<style>
.headlabel
{
color: #4a4a56;
font-size: 91%;
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
}
.header
{
background: #f2f3f3;
color: #000;
font-size: 1em;
font:Times New Roman;
font-weight: bold;
padding: 5px 2px 4px 5px;
}
.boldlbl
{
background: #f2f3f3;
color: #0A2A0A;
font-size: 1em;
font:Times New Roman;
font-weight: bold;
padding: 5px 2px 4px 5px;
}
.tdrow
{
padding: 4px 2px 4px 5px;
color: #333;

}
.tdboldlbl
{
padding: 4px 2px 4px 5px;
color: #0A2A0A;

}
.list
{
background-color: #fff;

}
</style>
<script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name,filename) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet:'Company Level Report', table: table.innerHTML}
    document.getElementById("dlink").href = uri + base64(format(template, ctx));
    document.getElementById("dlink").download = filename;
    document.getElementById("dlink").click();
    //window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>
</head>
<apex:actionstatus id="counterStatus1">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
  <apex:form id="frm">
    <apex:outputPanel rendered="{!actionpanel}">
  <table cellpadding="0" cellspacing="0" width="100%" border="0" style="margin:0px auto">
  <tr>
  <td>
    <apex:sectionHeader title="Budget Report"/>
  </td>
  <td style="margin:0px auto;padding-top:25px;">

<!--<apex:actionFunction name="getUpdate" action="{!GenerateComapanyLevelReport}" reRender="CompanyLevel"/> -->
    <apex:commandButton Value="Directory Level Report" action="{!showdirectoryLevelReport}" reRender="frm,pblk" status="counterStatus1" style="width:200px;height:30px;color:white;background:#51a2d3;font-size:13px"/>
    &nbsp;&nbsp;
    <apex:commandButton Value="Company Level Report" action="{!showcompanypanel}" reRender="frm,pblk,yearlist" status="counterStatus1" style="width:200px;height:30px;color:white;background:#51a2d3;font-size:13px"/> 
    &nbsp;&nbsp;
    <!-- <apex:commandButton Value="Export Report" action="{!exportReport}" status="counterStatus1" disabled="false" rendered="false"/> -->
     
     <apex:commandButton Value="Back" action="{!cancel}" status="counterStatus1" style="width:60px;height:30px;color:white;background:#a7a77b;font-size:13px"/>
     
    
  </td>
  </tr>
  </table>
  <hr style="display: block; height: 1px;border: 0; border-top: 1px solid #51a2d3;"/>
</apex:outputPanel>


  <br/>
  <apex:outputPanel id="CompanyLevelYearSelection" rendered="{!showyearpanel}" style="font-size:11px;font: sans-serif;font-weight:bold">
  Select Year : &nbsp; &nbsp;<apex:selectList value="{!yearforreport}" id="yearlist" multiselect="false" size="1" style="color:white;background:#086A87;font-size:11px;width:70px;height:24px;">
            <apex:selectOptions value="{!reportyear}"/>
              <apex:actionSupport event="onchange" action="{!FetchCompanyData}" reRender="frm,CompanyLevelYearSelection,btnpanel,pblk,CompanyLevel,scriptpanel" status="counterStatus1" />
     </apex:selectList> 
     &nbsp; &nbsp;
  
  <apex:outputPanel id="btnpanel" rendered="{!showAllDirectoryReport}">
    <input type="button" value="Generate Report" class="btn"  id="companyid" onclick="showcompanylevelreport();" style="width:160px;height:24px;color:white;background:#086A87;font-size:11px"/>
    &nbsp;&nbsp;
    <!-- onclick="showcompanylevelreport();" -->
    <input type="button" id="tab" onclick="tableToExcel('CompanyLevelTable', 'CompanyLevelTable','Company Level Report.xls')" value="Export to Excel" class="btn" style="width:160px;height:24px;color:white;background:#086A87;font-size:11px;display:none;"/>
     <a id="dlink" style="display:none;">Download</a>
   <script>
   
$("#companyid").click(function()
{
    var t = $('#mytablenew').eq(0);
    var r = t.find('tr');
    var cols= r.length;
    var rows= r.eq(0).find('td').length;
    var cell, next, tem, i = 0;
    var tb= $('<tbody></tbody>');
    while(i<rows){
        cell= 0;
        tem= $('<tr></tr>');
        while(cell<cols){
            next= r.eq(cell++).find('td').eq(0);
            tem.append(next);
        }
        tb.append(tem);
        ++i;
    }
    $('#mytablenew').append(tb);
    $('#mytablenew').eq(0).find('tbody')[0].remove();
    $('#mytablenew').show();
    return false;
});
   
function showcompanylevelreport()
{
  //alert(document.getElementById("CompanyLevelTable").style.display);
  document.getElementById("CompanyLevelTable").style.display='block';
  document.getElementById("tab").style.display='';
  document.getElementById("j_id0:frm:directorylevel").style.display='none';
 // alert(document.getElementById("CompanyLevelTable").style.display);
}
   </script>
   </apex:outputPanel>
   
   
   </apex:outputPanel>
 <br/>
 <apex:pageMessages ></apex:pageMessages>
  <apex:outputPanel id="directorylevel" rendered="{!showDirectoryLevelReport}">
  <apex:pageBlock id="pblk" title="Filter Panel" >
  <apex:outputPanel >
  <apex:actionRegion renderRegionOnly="true">
  Directory:   &nbsp;&nbsp; <apex:outputLabel value="{!DirectoryName}" rendered="{!ContexValue}"></apex:outputLabel>
  <apex:selectList value="{!directories}"  multiselect="false" size="1" rendered="{!Selectionpanel}">
            <apex:selectOptions value="{!directory}"/>
             <apex:actionSupport event="onchange" rerender="DE" action="{!populateEdition}" status="counterStatus1"/>
  </apex:selectList>
   
       &nbsp;&nbsp;&nbsp;&nbsp;
   Directory Edition: &nbsp;&nbsp; <apex:outputLabel value="{!DirEdition}" rendered="{!ContexValue}"></apex:outputLabel>
         <apex:selectList value="{!directoriesEdition}" multiselect="false" size="1" id="DE" rendered="{!Selectionpanel}">
             <apex:selectOptions value="{!directoryEdition}"/>
             <apex:actionSupport event="onchange" rerender="frm" />
        </apex:selectList> 
        
     </apex:actionRegion>
    
       &nbsp;&nbsp;&nbsp;&nbsp;   
       <apex:commandButton id="reportbtn" value="Generate Report" action="{!generateBudgetReport}" rendered="{!Selectionpanel}" reRender="frm,ReportPanel,pblk1,BudgetTable"  status="counterStatus1"/> 
       &nbsp;&nbsp;
       <apex:outputPanel id="ExportBtnPnl" rendered="{!showExportBtn}">
       <input type="button" id="tab" onclick="tableToExcel('DirectoryLevelTable', 'DirectoryLevelTable','Directory Level Report.xls')" value="Export to Excel" class="btn"/>
          <a id="dlink" style="display:none;">Download</a> 
       </apex:outputPanel>
        </apex:outputPanel>
   </apex:pageBlock>    
   <br/>
    
  <table id="DirectoryLevelTable" style="width:1300px;" border="0">
  <tr>
  <td>
   <apex:outputPanel id="ReportPanel" rendered="{!showreport}">
  
   <div style="margin:0px auto;width:800px" >
   <apex:pageBlock title="{!DirectoryName}">
   
   <apex:pageBlocksection columns="4">
   
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Directory Edition : </apex:outputLabel>
     </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="text-align:left;width:25%">
   <apex:outputText value="{!DirEdition}"></apex:outputText>
    </apex:pageBlockSectionItem>
   
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Division :</apex:outputLabel>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
    <apex:outputText value="{!Division}"></apex:outputText>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Telco : </apex:outputLabel>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputText value="{!Telco}"></apex:outputText>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Printer : </apex:outputLabel>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputText value="{!Printer}"></apex:outputText>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Directory Code: </apex:outputLabel>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputText value="{!DirCode}"></apex:outputText>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputLabel styleClass="headlabel">Vendor:</apex:outputLabel>
    </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem dataStyle="width:25%">
   <apex:outputText value="{!DirVendor}"></apex:outputText>
   </apex:pageBlockSectionItem>
 
   </apex:pageBlocksection>
   
   </apex:pageBlock>
   <hr/>
    <apex:pageBlock id="Pageblk" mode="inlineEdit">
   <apex:pageBlockTable id="PagesTable" value="{!PagesWrap}" var="pg">
   <apex:column headerValue="Type" value="{!pg.Type}"/>
   <apex:column headerValue="Budget" value="{!pg.Budget}"/>
   <apex:column headerValue="Actual" value="{!pg.Actual}"/>
   <apex:column headerValue="Variance" value="{!pg.Variance}"/>
   </apex:pageBlockTable>
   
   
   </apex:pageBlock>
 <!-- <apex:actionFunction action="{!editnow}" name="editforecast" reRender="editpanel"/>-->
   <apex:pageBlock id="pblk1" mode="inlineEdit">
   <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!saveforecast}" id="saveButton" value="Save" reRender="frm,pblk1,BudgetTable" status="counterStatus1"/>
              <!--  <apex:commandButton onclick="resetInlineEdit()" id="cancelButton" value="Cancel" status="counterStatus1" reRender="frm,pblk1,BudgetTable"/> -->
            </apex:pageBlockButtons>
   <apex:pageBlockTable id="BudgetTable" value="{!BudgetWrap}" var="bg">
   <apex:column headerValue="Type" value="{!bg.Type}"/>
   <apex:column headerValue="Budget" value="$ {!bg.Budget}"/>
   <apex:column headerValue="Actual" value=" $ {!bg.Actual}"/>
   <apex:column headerValue="Variance" value="$ {!bg.Variance}"/>
   <apex:column headerValue="Forecast">
   
   <apex:outputfield value="{!bg.bdgtObj.Forecast_Paper_Cost__c}" rendered="{!If(bg.Type=='Paper',true,false)}">
    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" 
                        hideOnEdit="editButton" event="ondblclick" 
                        changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
   </apex:outputfield>
   <apex:outputfield value="{!bg.bdgtObj.Forecast_Printing_Cost__c}" rendered="{!If(bg.Type=='Print',true,false)}">
    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" 
                        hideOnEdit="editButton" event="ondblclick" 
                        changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
   </apex:outputfield>
   <apex:outputfield value="{!bg.bdgtObj.Forecast_Manufacturing_Cost__c}" rendered="{!If(bg.Type=='Total Manufacturing',true,false)}">
    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" 
                        hideOnEdit="editButton" event="ondblclick" 
                        changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
   </apex:outputfield>
   <apex:outputfield value="{!bg.bdgtObj.Forecast_Distribution_Cost__c}" rendered="{!If(bg.Type=='Total Distribution',true,false)}">
    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" 
                        hideOnEdit="editButton" event="ondblclick" 
                        changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/></apex:outputfield>
 
   </apex:column>
   
   </apex:pageBlockTable>
   
   
   </apex:pageBlock>
   </div>
   </apex:outputPanel>
   </td>
   </tr>
   </table>
  </apex:outputPanel>
  <apex:outputPanel id="CompanyLevel">
 <!-- <table id="CompanyLevelTable" style="width:1300px;display:none"> -->
 <table id="CompanyLevelTable" style="width:1200px;display:none;"> 
  <tr>
  <td>
  <div style="text-align:center;weight:800px;border:solid 1px;border-color: #996;"><span style="font-size:16px;font-weight:bold">The Berry Company</span ><br/>
  <span  style="font-weight:bold">PP&amp;D  Actuals vs Budget Report</span ><br/>
  <span  style="font-weight:bold"><!--{!year(today())}-->{!yearforreport}</span >
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <apex:pageBlock title="Company Level Report">
        <table id="mytablenew" class="list" style="width:1280px" >
        <tr>
        <td class="header">Line Items</td>
        <td class="header" style="background:#A9E2F3;text-align:center;border:solid 1px #A9E2F3">PP&amp;D</td>
        <td class="header" style="background:#0B6121;color:white;font-weight:bold">PRINT</td>
        <td class="header">Budget Print Cost</td>
        <td class="header">Actual Print Cost</td>
        <td class="header">Print Forecast </td>
        <td class="boldlbl" style="color:green">Print Variance</td>
        <td class="header" style="background:#0B6121;color:white;font-weight:bold">PAPER</td>
        <td class="header" style="background:#D8D8D8;">Budget Paper Cost</td>
        <td class="header" style="background:#D8D8D8;">Actual Paper Cost</td>
        <td class="header">Paper Forecast </td>
        <td class="boldlbl" style="background:#D8D8D8;color:green;">Paper Variance</td>
        <td class="header" style="background:#0B6121;color:white;font-weight:bold">DISTRIBUTION</td>
        <td class="header">Budget Distribution Cost</td>
        <td class="header">Actual Distribution Cost</td>
        <td class="header">Distribution Forecast </td>
        <td class="boldlbl" style="color:green">Distribution Variance</td>
        <td class="header" style="background:#0B6121;color:white;font-weight:bold">TOTALS</td>
        <td class="header" style="background:#E0E6F8;font-weight:bold">Total Budget Cost</td>
        <td class="header" style="background:#E0E6F8;font-weight:bold">Total Actual Cost</td>
        <td class="header" style="background:#E0E6F8;font-weight:bold">Total Forecast</td>
        <td class="boldlbl" style="color:green;background:#E0E6F8;font-weight:bold">Total Variance</td>
        </tr>
        <apex:repeat value="{!MainCompanyReportWrap}" var="budget">
        <tr>
        <td class="header">{!CASE(VALUE(budget.BudgetMonth),13,"Q1",14,"Q2",15,"Q3",16,"Q4",17,"Annual",1,"January",2, "February",3, "March", 4, "April", 5, "May", 6, "June",7, "July",8, "August",9, "September",10, "October",11, "November",12, "December","None")}</td>
           <td class="header" style="background:#A9E2F3;">&nbsp;</td>
           <td class="header">&nbsp;</td>
            <td class="tdrow">$ 
            <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.BudgetPrintCost}" />
            </apex:outputText>
            </td>
            <td class="tdrow">$  <apex:outputText value="{0, number, ###,###}"> <apex:param value="{!budget.ActualPrintCost}" />
            </apex:outputText></td>
             <td class="tdrow">$  <apex:outputText value="{0, number, ###,###}"> <apex:param value="{!budget.PrintForecast}" />
            </apex:outputText></td>
            <td class="tdrowlbl" style="font-weight:bold;color:green">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.VariancePrintCost}" />
            </apex:outputText></td>
             <td class="header">&nbsp;</td>
            <td class="tdrow">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.BudgetPaperCost}" />
            </apex:outputText></td>
            <td class="tdrow">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.ActualPaperCost}" />
            </apex:outputText></td>
             <td class="tdrow">$  <apex:outputText value="{0, number, ###,###}"> <apex:param value="{!budget.PaperForecast}" />
            </apex:outputText></td>
            <td class="tdrowlbl" style="font-weight:bold;color:green;">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.VariancePaperCost}" />
            </apex:outputText></td>
             <td class="header">&nbsp;</td>
            <td class="tdrow">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.BudgetDCost}" />
            </apex:outputText></td>
            <td class="tdrow">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.ActualDCost}" />
            </apex:outputText></td>
             <td class="tdrow">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.DForecast}" />
            </apex:outputText></td>
            <td class="tdrowlbl" style="font-weight:bold;color:green">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.VarianceDCost}" />
            </apex:outputText></td>
             <td class="header">&nbsp;</td>
            <td class="tdrow" style="background:#E0E6F8;font-weight:bold">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.TotalBudget }" />
            </apex:outputText></td>
            <td class="tdrow" style="background:#E0E6F8;font-weight:bold">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.TotalActual}" />
            </apex:outputText></td>
            <td class="tdrow" style="background:#E0E6F8;font-weight:bold">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.TotalForecast}" />
            </apex:outputText></td>
            <td class="tdrowlbl" style="font-weight:bold;color:green;background:#E0E6F8;">$ <apex:outputText value="{0, number, ###,###}">
           <apex:param value="{!budget.TotalVariance}" />
            </apex:outputText></td>
        </tr>
        </apex:repeat>
        </table>
 </apex:pageBlock>
</td>
</tr>
</table>
  </apex:outputPanel>

 </apex:form> 
</apex:page>