<apex:page StandardController="Account" extensions="AccountManagement">
	<apex:form >
		<apex:pageBlock >
			<apex:pageMessages />
			<apex:pageBlockButtons >
				<apex:commandButton value="Save" action="{!saveContact}" />
				<apex:commandButton value="Save & New" action="{!saveContactAndNew}"/>
				<apex:commandButton value="Cancel" action="{!cancelContact}" immediate="true"/>
			</apex:pageBlockButtons>
          <apex:pageBlockSection title="Contact Information">
              <apex:repeat value="{!conInfoFields}" var="cf">
                  <apex:inputField value="{!objContact[cf.fieldPath]}" required="{!OR(cf.required, cf.dbrequired)}"/>
              </apex:repeat>
          </apex:pageBlockSection>
      
          <apex:pageBlockSection title="Flags">
              <apex:repeat value="{!conFlagFields}" var="ff">
                  <apex:inputField value="{!objContact[ff.fieldPath]}" required="{!OR(ff.required, ff.dbrequired)}" />
              </apex:repeat>
          </apex:pageBlockSection>
          
          <apex:pageBlockSection title="Address Information" columns="1">
              <apex:repeat value="{!conAddressFields}" var="caf">
                  <apex:inputField value="{!objContact[caf.fieldPath]}" required="{!OR(caf.required, caf.dbrequired)}" />
              </apex:repeat>
          </apex:pageBlockSection>
          
          <apex:pageBlockSection title="Additional Information">
              <apex:repeat value="{!conAddFields}" var="caif">
                  <apex:inputField value="{!objContact[caif.fieldPath]}" required="{!OR(caif.required, caif.dbrequired)}" />
              </apex:repeat>
          </apex:pageBlockSection>
        </apex:pageBlock>
	</apex:form>
</apex:page>