<apex:page controller="DirectoryManualSchedule" tabStyle="Directory__c">
<script>
    window.onload = function(){
        document.getElementById('nullId').focus();
    }
</script>
    <apex:pagemessages ></apex:pagemessages>
    <apex:form >
        <apex:pageblock >
            <apex:pageblocksection columns="2" title="Directory Flip Book Manual Test Page">
                <apex:inputField value="{!objDir.EBD__c}"/>
                <apex:inputField value="{!objDir.Sales_Lockout__c}"/>
                <apex:inputField value="{!objDir.DCR_Close__c}"/>
                <apex:inputField value="{!objDir.Book_Extract_YP__c}"/> 
                <apex:inputField value="{!objDir.BOC__c}"/>
                <apex:inputField value="{!objDir.Ship_Date__c}"/>  
                <apex:inputField value="{!objDir.Final_Service_Order_Due_to_Berry__c}"/>
                <apex:inputField value="{!objDir.Pub_Date__c}"/> 
                <apex:inputField value="{!objDir.Sales_Start__c}"/> 
                <apex:inputField value="{!objDir.Coup_Prelim_Filler__c}"/> 
                <apex:inputField value="{!objDir.Delivery_Start_Date__c}"/> 
            </apex:pageblocksection>
            <apex:commandButton value="Run" style="margin-left:50%;" action="{!doRun}"/>
        </apex:pageblock>
    </apex:form>
</apex:page>