<apex:page controller="EditionCostController" showHeader="false">
    
    <script>
        function closeWin(){
            var url = '/{!$CurrentPage.parameters.deId}'; 
            parent.location.href = url;
        }
    </script>
   
    <apex:form >
        <apex:pageBlock id="pg">
            
        
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!dosave}" onComplete="closeWin();" rerender="error"/> 
                <apex:commandButton value="Create New Cost Type" action="{!newCtype}" rerender="pg,test" status="mystatus"/>
             
            </apex:pageBlockButtons>
            <apex:pageMessages />
          
            <apex:pageBlockTable value="{!deLst}" var="ec" id="table">
                <apex:facet name="footer">
                    <apex:commandLink value="Add Row" action="{!addRow}" rerender="table,error"/>
                   </apex:facet>
                <apex:column headerValue="Cost Type">
                    <!-- <apex:inputField value="{!ec.Cost_Type__c}" required="false"/> -->
                    
                    <apex:selectList value="{!ec.Cost_Type__c}" size="1" id="values">
                      <apex:selectOptions value="{!Options}"/>
                    </apex:selectList>
                  
                </apex:column>
                <apex:column headerValue="Amount">
                    <apex:inputField value="{!ec.Amount__c}"/>
                </apex:column> 
                <apex:column headerValue="Telco Cost Share (100%)">
                    <apex:inputField value="{!ec.Telco__c}"/>
                </apex:column>                       
            </apex:pageBlockTable>
            
            <!--<apex:outputpanel id="test" rendered="{!OthercostType}">
                <apex:actionstatus id="mystatus" startText="loading....">
                    <apex:facet name="stop">
                        <apex:pageBlockSection >
                            <apex:pageblocksectionItem >
                                <apex:outputlabel value="New Picklist value" for="newVal"/>
                                <apex:inputtext value="{!newpicklistvalue}" id="newVal" />
                            </apex:pageblocksectionItem>
                            <apex:pageblocksectionItem >
                                <apex:outputlabel value="Amount" for="newVal1"/>
                                <apex:inputtext value="{!newAmount}" id="newVal1" />
                            </apex:pageblocksectionItem>
                             <apex:pageblocksectionItem >
                                <apex:outputlabel value="Telco Cost Share (100%)" for="newVal2"/>
                                <apex:inputcheckbox value="{!telcoShare}" id="newVal2" />
                            </apex:pageblocksectionItem>
                            <apex:commandbutton action="{!addPicklist}" value="Add Cost Type" onComplete="closeWin();"/>
                        </apex:pageBlockSection>
                    </apex:facet>
                </apex:actionstatus>
              </apex:outputpanel>-->
            <apex:outputpanel id="test" rendered="{!OthercostType}">
            <table>
            <apex:repeat value="{!lstWD}" var="wd">
                     <tr>
                         <td width="40%">
                              <apex:outputlabel value="New Picklist value" for="newVal" style="font-weight:bold"/>
                              <apex:inputtext value="{!wd.PicklistName}"/>
                          </td>
                          <td width="30%">
                             <apex:outputlabel value="Amount" for="newVal1" style="font-weight:bold"/>
                             <apex:inputtext value="{!wd.Amount}"/>
                         </td>
                          <td width="10%">
                             <apex:outputlabel value="Telco Cost Share (100%)" for="newVal2" style="font-weight:bold"/>
                             <apex:inputcheckbox value="{!wd.telcosharepercent}"/>
                         </td>
                         <td>
                         </td>
                         <td width="20%">
                             <apex:commandButton value="AddCostType" action="{!doAdd}"/> 
                         </td>
                      </tr>
                 </apex:repeat>

             </table>
            </apex:outputpanel>
      </apex:pageBlock>
    </apex:form>
</apex:page>