<apex:page controller="FetchCustomObjectNames" action="{!onLoad}">
    	<apex:form > 
    	<apex:pageBlock >
            <apex:pageBlockSection columns="1">
            	<apex:pageBlockTable value="{!lsyWrapper}" var="tmp">
                	<apex:column value="{!tmp.strName}"/>
                    <apex:column value="{!tmp.API}"/>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>