<apex:page standardController="ffps_berry__Cash_Entry_Staging__c" extensions="ffirule.IntegrationRuleEngine" action="{!convert}" recordSetVar="records">
<ffirule:IntegrationRule engine="{!engine}"/>
</apex:page>