<apex:page controller="GalleyReportController" >
                    <style type="text/css" SRC="../images/skin_default/style.css"></style>
                    <SCRIPT language="javascript">
                    if (parent) {
                        if (typeof(parent.layoutFileName) != "undefined") parent.layoutFileName = "documentXML.jsp";
                        //initializing contextual help
                        if (typeof(parent.helpSectionFileName) != "undefined") parent.helpSectionFileName = "";
                        if (typeof(parent.helpSectionRootPath) != "undefined") parent.helpSectionRootPath = "";
                        }
                    
                    function asyncOpenDocument(url) {
                        //specific for openDocument feature
                        //this function initiate an asynchronous loading of the URL
                        setTimeout("document.location.href='"+url+"'", 100);
                    }
                    
                    //unique timestamp for manual history management for openDocument feature
                    var timeStamp = "1396380267876";
                    if (typeof(parent.realignStacks) != "undefined") parent.realignStacks(timeStamp);
                    </SCRIPT>
                    <SCRIPT language="javascript" src="callbacks.js"></SCRIPT>
    <HTML>
    <HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <LINK REL="STYLESHEET" TYPE="text/css" HREF="../images/skin_default/style.css" TITLE="Default Style" />                  
    </HEAD>   
    <apex:form title="Galley Report">
        <apex:sectionHeader title="Galley Report" />
        <apex:pageBlock title="Reports" id="thePageBlock">
            <apex:pageBlockSection columns="1">
                <apex:selectList id="chooseReport" value="{!string}" size="1">
                       <apex:selectOption itemValue="LIMOGalleyReport-dynamic.aspx" itemLabel="Merged Alpha Galley Report"/>
                        <apex:selectOption itemValue="NYPSWhiteGalleyReportv4-dynamic.aspx" itemLabel="Un-merged Alpha Galley Report"/>
                        <apex:selectOption itemValue="CMRAlphaGalleyreportv2-dynamic.aspx" itemLabel="CMR Alpha Galley Report"/>
                        <apex:selectOption itemValue="YellowGalleyBReportv2-dynamic.aspx" itemLabel="Yellow Galley B Report"/> 
                        <apex:selectOption itemValue="YellowGalleyReportTest-dynamic.aspx" itemLabel="Yellow Galley Report"/>
                      <!--  <apex:selectOption itemValue="CenturyLinkNYPSWhiteGalleyReport-dynamic.aspx" itemLabel="CenturyLink NYPS White Galley"/> -->
                </apex:selectList><br/> 
              <!--  <apex:outputtext value="https://na.crystalreports.com/opendoc/documentXML.jsp?cmdP1=untitled*118091488*1*rpt**&token=&cmd=askView&cmdBlock=all&cmdP2=" escape="false" /> -->
                <apex:commandButton title="Run Report" value="Run Galley Report" reRender="theFrame1, theIframe, Crystal"/>
                 <apex:outputPanel id="theFrame1">    
                 <apex:outputPanel id="theFrame" rendered="{!If(string = '', false, true)}" >            
                     <!--<iframe name='documentFrame000h' src="https://na.crystalreports.com/opendoc/documentXML.jsp?skin=skin_default&lang=en&cmdP1=untitled*{!string}*1*rpt**&sRepoType=1&sType=rpt&token=&cmd=askView&cmdBlock=all&cmdP2=" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/>-->
                     <!--<iframe name='documentFrame000h' src="https://berryforcedev.theberrycompany.com/galleyReports/{!string}" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/>-->
                     <!-- Use this one for BQA1 -->
                     <iframe name='documentFrame000h' src="https://berryforcetst.theberrycompany.com/galleyreports/{!string}" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/>
                      <!-- Use this one for Production
                     <iframe name='documentFrame000h' src="https://berryforceprd.theberrycompany.com/galleyreports/{!string}" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/> -->
                 </apex:outputPanel> 
                 </apex:outputPanel>  
            </apex:pageBlockSection>
        </apex:pageBlock>
    
    </apex:form>
  </HTML>
</apex:page>