<apex:page showHeader="false" id="SiteTemplate">
  <apex:insert name="header">
    <c:publicsitepageheader />
    <hr/>
  </apex:insert>
  <apex:insert name="body"/>
  <apex:insert name="footer">
    <hr/>
    <c:publicsitepagefooter />
    <site:googleAnalyticsTracking />
  </apex:insert>
</apex:page>