<apex:page standardcontroller="Account">
    <apex:panelGrid columns="4" styleClass="companyTable" width="100%">
        <apex:outputLink >
            <a  href="http://www.google.com/search?en&q={!Account.Name_and_City__c}" target="_blank">Google Search</a>
        </apex:outputLink>
        <apex:outputLink >
            <a  href="http://maps.google.com/maps?q={!Account.Name_and_Address__c}" target="_blank">Google Maps</a>
        </apex:outputLink>
        <apex:outputLink >
            <a  href="http://www1.spotzer.com/businesslisting/default.aspx?b={!Account.Name}&a={!Account.BillingStreet}&z={!Account.BillingPostalCode}&t={!Account.Phone}" target="_blank">OLM Report</a>
        </apex:outputLink>
        <apex:outputLink rendered="{!IF(Account.Website <> '',true,false)}" >
            <a  href="http://websiteanalysis.theberrycompany.com/load.htm?name=&email=&phone=&domain={!Account.Website}&address=&pn=&t=ZCcSgvRk2r%2BvsUDOLiQp9PkhmL%2BMQcaLWrTA074L7PwANDQBvK8KcJDZZCUdiCDw&Submit=Submit" target="_blank">Website Analysis Tool</a>
        </apex:outputLink>
        <apex:outputLink rendered="{!IF(Account.Website = '',true,false)}" >
            <a  href="http://websiteanalysis.theberrycompany.com/webaddress.cfm?password=berry1&Submit=Login" target="_blank">Website Analysis Tool</a>
        </apex:outputLink>
     </apex:panelgrid>
</apex:page>