<apex:page standardController="case" extensions="Rev_Case_SCN_controller" id="page">
  <apex:form id="form">
  
    <apex:pageMessages />

        <apex:outputPanel id="op1">
    <div style="background:#FFFFdd;"><b>Instructions:</b> <br/>
      Validate you wish to Reverse the Whole Claim Shown Below.
     <br/><br/>To return to the Case without reversing the claim click <b><i>Return to Case</i></b>
    </div></apex:outputPanel>

  
  
  <apex:pageBlock id="pb1" >
  <apex:pageBlockButtons id="pbbut" location="Bottom">
      <apex:commandButton title="Reverse Claim" value="Reverse Claim" action="{!RevClaim}" rendered="{! IF(SCNlneitemallCount >0,True,False)}"/> &nbsp;&nbsp;&nbsp;
      <apex:commandButton immediate="true" title="Return to Case" value="Return to Case" action="/{!caseID}"/>
          
  </apex:pageBlockButtons>
<apex:pageBlockSection collapsible="false" title="Account and Contact" columns="2"  id="accountpbsection" > 
        <apex:pageBlockSectionItem id="acct1">
            <apex:outputLabel styleClass="labelCol first last " >Account:&nbsp;</apex:outputLabel>
            <apex:OutputField value="{!CaseObj.AccountId}"  />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct2">
            <apex:outputLabel >Contact: </apex:outputLabel>
            <apex:OutputField value="{!CaseObj.ContactId}"  />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct3">
            <apex:outputLabel styleClass="labelCol first last ">Account #:&nbsp;</apex:outputLabel>
            <apex:OutputField value="{!CaseObj.account.Account_Number__c}"  />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct4" >&nbsp;</apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct5">
            <apex:outputLabel styleClass="labelCol first last ">Main Listed Phone:&nbsp;</apex:outputLabel>
            <apex:OutputField value="{!CaseObj.account.phone}"  />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct6">&nbsp;</apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct7">
            <apex:outputLabel styleClass="labelCol first last ">Primary Canvass:&nbsp;</apex:outputLabel>
            <apex:OutputField value="{!CaseObj.account.Primary_Canvass__c}"  />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="acct8">&nbsp;</apex:pageBlockSectionItem>
 </apex:pageBlockSection>
  <apex:pageBlockSection collapsible="false" title="Sales Credit Notes" columns="1"  id="scnpaid" > 

  <apex:dataTable width="100%" border="0" var="PI" value="{!SCNlneitemall}" id="PI"  >
          
          <apex:column >
              <apex:facet name="header">Sales Credit Note Number</apex:facet>
              <apex:outputField value="{!PI.c2g__CreditNote__r.name}" />
          </apex:column>
          <apex:column >
              <apex:facet name="header">Order Line Item</apex:facet>
              <apex:outputField value="{!PI.Order_Line_Item__c}" />
          </apex:column>
          
          <apex:column >
              <apex:facet name="header">Sales Credit Note Amount</apex:facet>
              <apex:outputField value="{!PI.c2g__CreditNote__r.c2g__CreditNoteTotal__c}" />
          </apex:column>  
          <apex:column >
              <apex:facet name="header">Sales Credit Note Status</apex:facet>
              <apex:outputField value="{!PI.c2g__CreditNote__r.c2g__CreditNoteStatus__c}" />
          </apex:column>
          <apex:column >
              <apex:facet name="header">Has Been Billed</apex:facet>
              <apex:outputText value="{!IF (PI.Is_Billed__c == True, 'Yes', 'No') }" />
          </apex:column> 
          <apex:column >
              <apex:facet name="header">Due Date</apex:facet>
              <apex:outputField value="{!PI.c2g__CreditNote__r.c2g__DueDate__c}" />
          </apex:column>           
          <apex:column >
              <apex:outputText rendered="{!PI.Is_Billed__c}">
              <apex:facet name="header">Payment Transaction Id</apex:facet>
              <apex:outputField value="{!PI.c2g__CreditNote__r.c2g__Transaction__c}" />
              </apex:outputText>
          </apex:column>        
         <apex:column >
              <apex:outputText rendered="{!PI.Is_Billed__c}">
              <apex:facet name="header">Sales Invoice Line item</apex:facet>
              <apex:outputField value="{!PI.Sales_Invoice_Line_Item__c}" />
              </apex:outputText>
          </apex:column>  
         
         
         
  </apex:dataTable>
  </apex:pageBlockSection>
 
 <!--
  <apex:pageBlockSection collapsible="false" id="pbs1" showHeader="true" title="Claim Values" columns="1">
      <apex:dataTable width="100%" border="0" var="DOLI" value="{!DOLIs}" columns="4" >
          <apex:column width="250" >
              <apex:facet name="header">Order Line Item</apex:facet>
              <apex:outputField value="{!DOLI.Order_Line_Item__c}" />
          </apex:column>
 
           <apex:column width="250">
              <apex:facet name="header">Sales Credit Note Amount</apex:facet>
              <apex:outputField value="{!DOLI.Discount_Per_period__c}" />
          </apex:column>  
          <apex:column width="250">
              <apex:facet name="header">Credit Note Quantity  </apex:facet>
              <apex:outputField value="{!DOLI.Number_of_Billing_Periods_to_discount__c}" />
          </apex:column> 
         
        

          <apex:column width="250">
              <apex:facet name="header">Total Credit Amount</apex:facet>
              <apex:outputField value="{!DOLI.Total_Credit_num__c}" />
          </apex:column>         
         <apex:column width="152" >
              <apex:facet name="header"></apex:facet>
              <apex:outputText id="blank">&nbsp;</apex:outputText>
          </apex:column>  
     
      </apex:dataTable>
      <br/>
      
  </apex:pageBlockSection> -->
  </apex:pageBlock>
  
  
  
 
  
  
  </apex:form>
</apex:page>