<apex:page standardController="Case" extensions="SelectNationalOSForDiscountController" id="page">
    <apex:form id="frm">    
    <script type="text/javascript">
        function noenter() {
        return !(window.event && window.event.keyCode == 13); 
        }
    </script>
        <apex:pageMessages ></apex:pageMessages>
        <apex:actionstatus id="LoadStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                    height:100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock title="Complete Data and Select an Action below" id="ordersetblockpage2" >
            <apex:pageBlockSection collapsible="false" title="Account and Contact" columns="2" id="accountpbsectionpage2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel styleClass="labelCol first last " >Account:&nbsp;</apex:outputLabel>
                    <apex:OutputField value="{!objCase.AccountId}"  />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel styleClass="labelCol first last " >Contact: </apex:outputLabel>
                    <apex:OutputField value="{!objCase.ContactId}"  />
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel styleClass="labelCol first last ">Account #:&nbsp;</apex:outputLabel>
                    <apex:OutputField value="{!objCase.account.AccountNumber}"  />
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel styleClass="labelCol first last " >Net Commission(%)&nbsp;</apex:outputLabel>
                    <apex:outputPanel >                                
                        <apex:selectList size="1" multiselect="false" id="netcom" value="{!objCase.Net_Commission__c}">
                            <apex:selectOptions value="{!NetCommision}" />
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel styleClass="labelCol first last ">Main Listed Phone:&nbsp;</apex:outputLabel>
                    <apex:OutputField value="{!objCase.account.phone}"  />
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem >&nbsp;</apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
            
            <apex:actionRegion >
                <apex:pageBlockSection showHeader="True" collapsible="false" title="Defaults for Selected Order Lines" id="defaultssectionpage2" columns="4">
                        
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel styleClass="labelCol first last " >Default Credit Type:&nbsp;</apex:outputLabel>
                            <apex:outputPanel >
                                <apex:selectList value="{!defaultpercent}" size="1" multiselect="false" id="defpercentpage2">
                                <apex:selectOptions value="{!dpItems}" />
                            </apex:selectList>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem> 
                        
                        <apex:pageBlockSectionItem >
                            <apex:commandButton title="Applyval" value="Apply Defaults"  id="applycredit" action="{!applyDefaultToAll}" status="LoadStatus" rerender="frm,doildt,pbx" />
                        </apex:pageBlockSectionItem>                        
                </apex:pageBlockSection>
            </apex:actionRegion>
            
            <center>
            <table width="98%" border="0" cellpadding="0" cellspacing="0" id="TblMain" >
            <tr valign="top">
            <td>
            
            <apex:repeat value="{!lstWPage2Final}" var="OS" id="osloop"  >
                <apex:pageBlockSection title="Order Lines Credit Data for {!OS.orderSetName}" id="dolisect"  columns="1" collapsible="false">
                    
                    <apex:pageBlockSectionItem id="defaultssectionitem">
                        <apex:panelGrid columns="3" id="theGrid" width="80%">
                            <apex:outputText value="Case Reason: " id="theCaseReason"/>
                            <apex:outputText value="Case Source: " id="theCaseSource"/>
                            <apex:outputText value="User Responsible: " id="theUserResponsible"/>
                            <apex:panelGroup id="theGroupR">
                                <div class="requiredInput">
                                    <div class="requiredBlock"></div>
                                    <apex:inputField value="{!OS.objWCase.Case_Reason__c}" id="inCaseReson" />
                                </div>
                            </apex:panelGroup>
                            <apex:panelGroup id="theGroupS">
                                <div class="requiredInput">
                                    <div class="requiredBlock"></div>
                                    <apex:inputField value="{!OS.objWCase.Case_Source__c}" id="inCaseSource" />
                                </div>
                            </apex:panelGroup>
                            <apex:inputField id="ur" value="{!OS.objWOLID.User_Responsible__c}" style="width:50px;"/>
                        </apex:panelGrid>
                    </apex:pageBlockSectionItem>
                    
                    <apex:pageBlockTable width="100%" value="{!OS.lstChildW}" var="oli"  styleClass="tablecenter"  id="doildt" columns="16" >
                        
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Order Line</center></apex:facet>
                            <apex:commandLink action="/{!oli.objOLI.Id}" target="_blank" value="{!oli.objOLI.Name}" id="theCommandLink"/>
                        </apex:column> 
                          
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Product<br/>Type</center></apex:facet>
                            <apex:outputText value="{!oli.objOLI.Media_Type__c}"  id="ProdType"/>                  
                        </apex:column>
                            
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Product<br/>UDAC</center></apex:facet>
                                <apex:outputField value="{!oli.objOLI.ProductCode__c}"/>
                        </apex:column>   
                        
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Sale<br/>Price</center></apex:facet>
                                <apex:outputField value="{!oli.objOLI.UnitPrice__c}" id="price"/>
                        </apex:column> 

                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Billed/<br/>Remaining</center></apex:facet>
                            <apex:outputField value="{!oli.objOLI.Successful_Payments__c}" id="BilledVal"/>/<apex:outputField value="{!oli.objOLI.Payments_Remaining__c}"/>                               
                        </apex:column>
                         
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Credit %/$</center></apex:facet>
                                <apex:selectList value="{!oli.objOLID.Discount_Percent__c}" size="1" multiselect="false" id="discount">
                                    <apex:selectOptions value="{!dpItems}"/>
                                </apex:selectList>
                        </apex:column> 
                        
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Credit<br/>Frequency</center></apex:facet>
                            <apex:selectList value="{!oli.creditFrequency}" size="1" multiselect="false" id="singcred">
                                <apex:selectOptions value="{!oli.creditFrqList}"/>
                            </apex:selectList> 
                        </apex:column>
                            
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Max Credit</center></apex:facet>
                            <apex:outputField value="{!oli.objOLID.Max_Credit__c}" id="MaxCredit" style="width:50px;"  />
                        </apex:column>  
                        
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>$Credit<br/>Month</center></apex:facet>
                            $<apex:inputText value="{!oli.objOLID.Discount_Per_period__c}" style="width:50px;" id="Discountperp" onkeypress="return noenter()" />
                        </apex:column>
                          
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center># of Billing<br/>periods</center></apex:facet>
                                <apex:selectList value="{!oli.objOLID.Number_of_Billing_Periods_to_discount__c}" size="1" multiselect="false" id="NumberBillingP">
                                    <apex:selectOptions value="{!oli.billingPeriod}"/>
                                </apex:selectList>                 
                        </apex:column>
                                         
                        <apex:column style="text-align:center;">
                            <apex:facet name="header"><center>Total<br/>Credit</center></apex:facet>
                            $<apex:outputField title="Total Credit" id="totalCredt" value="{!oli.objOLID.total_Credit_amount__c}" style="width:50px;"/>
                        </apex:column>
                        
                    </apex:pageBlockTable>  
                </apex:pageBlockSection>
            </apex:repeat>
            </td></tr></table></center>
            <apex:pageBlockSection id="cmdbutblock" columns="1" showHeader="true" title="Actions" collapsible="false" >
                <apex:outputPanel id="savebutt1" style="float:center;">
                    <apex:commandButton title="Previous Page" value="Previous Page" id="btnCancel" action="/apex/selectOrderSetforDiscount_v1_Sat?id={!objCase.id}" />
                    <apex:commandButton title="Save And return to case" value="Save and Return to case" id="btnSaveReturn" action="{!SaveAndReturn}" />                    
                    <apex:commandButton title="updateval" value="Calculate" id="updt" action="{!UpdateConsoleVal}" status="LoadStatus" rerender="frm,doildt,pbx" />
                </apex:outputPanel>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" id="pbx" showHeader="true" title="Account Credit Summary" collapsible="true">                
                <apex:pageBlockTable width="100%" value="{!lstCaseSumTotal}" var="csS"  styleClass="tablecenter"  id="doildtPer" columns="6" >
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Total Max Credit</center></apex:facet>
                        <apex:outputLabel value="{!csS.Total_Max_Credit__c}" /> 
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Sub Credit</center></apex:facet>
                        <apex:outputLabel value="{!csS.Sub_Credit__c}" /> 
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Total Credit</center></apex:facet>
                        <apex:outputLabel value="{!csS.Total_Credit__c}" /> 
                    </apex:column>                   
                </apex:pageBlockTable>
                <apex:pageBlockTable width="100%" value="{!lstCaseConPer}" var="csP"  styleClass="tablecenter"  id="doildtSum" columns="2" >
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Line Items Contracted Total Value</center></apex:facet>
                        <apex:outputLabel value="{!csP.Contracted_Total_Value__c}" /> 
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>% of Risk Dollars Adjusted</center></apex:facet>
                        <apex:outputLabel value="{!csP.Risk_Dollars_Adjusted__c}" /> 
                    </apex:column>
                </apex:pageBlockTable>
                <apex:pageBlockTable width="100%" value="{!lstWSummary}" var="oliS"  styleClass="tablecenter"  id="doildtS" columns="4" >
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Order Set</center></apex:facet>
                        <apex:outputLabel value="{!oliS.osName}" /> 
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Total Contractual Value</center></apex:facet>
                        <apex:outputText value="{0, number, $0.00}">
                            <apex:param value="{!oliS.contractTotal}" />
                        </apex:outputText>
                        <!--$<apex:outputLabel value="{!oliS.contractTotal}" />-->
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>Adjustment Against Contract</center></apex:facet>
                        <apex:outputText value="{0, number, $0.00}">
                            <apex:param value="{!oliS.AdjTotal}" />
                        </apex:outputText>
                        <!-- $<apex:outputLabel value="{!oliS.AdjTotal}" /> -->
                    </apex:column>
                    <apex:column style="text-align:center;">
                        <apex:facet name="header"><center>% of Contract Adjusted</center></apex:facet>
                        <apex:outputText value="{0, number, 0.00}">
                            <apex:param value="{!oliS.AdjPercent}" />
                        </apex:outputText>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>