<!-- 
        Author : Mythili P
        Date   : 17-September-2014
        Purpose : This page allows the user to select the order line items that has to be modified.
 -->
 
<apex:page standardController="Account" extensions="SelectOrderSetModifyController_V3" standardStylesheets="true">
        <apex:form > 
         
                <!-- Loading image -->      
        <apex:actionstatus id="checkselect">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="margin-top: 50px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        
        <apex:pageMessages id="pgMSG" escape="false"/>
        <apex:pageBlock title="Select a Canvass to display the Order Line Items" id="ordersetblock">
            <apex:pageBlockButtons id="pageblockbuts" location="top">
                <apex:commandButton title="Cancel" value="Return to Account" action="/{!account.id}"/>
                
                
                

            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >Canvass: 
                    <apex:selectList value="{!canvassId}" size="1" label="Canvass">
                        <apex:selectOptions value="{!primaryCanvassList}"/>
                        <apex:actionSupport event="onchange" action="{!displayOrderLineItems}" status="checkselect" reRender="printSec,digSec,MOLI" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
           
          
           </apex:pageBlock>
           <!--
            <apex:outputPanel id="MOLI" >
            <apex:pageBlock rendered="{!AND(NOT(ISNULL(MOLIPendingList)),MOLIPendingList.size>0)}">
            
            <apex:commandButton title="MOLI" value="Pending MOLIs" action="{!PendingMOLIPage}" />
            </apex:pageBlock>
             </apex:outputPanel>
             -->
            
            <!-- Order line items list with media type - Print -->
           <apex:outputpanel id="printSec">
            <apex:pageBlock rendered="{!AND(NOT(ISNULL(printDisplayList)),printDisplayList.size>0)}">
                <apex:repeat value="{!printDisplayList}" var="ordSet">
                   <apex:pageBlockTable value="{!ordSet.oliList}" var="oli">
                        <apex:column >
                         <apex:inputCheckbox value="{!oli.isSelected}" onchange="checkSimilarOlis('{!oli.digitalOLI.Order_Group__c}','{!oli.digitalOLI.Directory_Edition__c}',this.checked,'{!oli.digitalOLI.Directory_Edition__r.Book_Status__c}','{!oli.digitalOLI.Directory__r.Companion_Directory__c}','{!oli.digitalOLI.Directory__r.Companion_Book__c}')">
                            </apex:inputCheckbox>
                        </apex:column>
                            <apex:column value="{!oli.digitalOLI.Order_Group__c}"/>
                            <apex:column value="{!oli.digitalOLI.Directory_Edition__c}"/>
                            <apex:column value="{!oli.digitalOLI.Product2__r.Name} / {!oli.digitalOLI.UDAC__c}" headerValue="Product Name/UDAC"/>
                            <apex:column value="{!oli.digitalOLI.Name}"/>  
                            <apex:column value="{!oli.digitalOLI.UnitPrice__c}"/>  
                           <!-- <apex:column value="{!oli.digitalOLI.isCanceled__c}"/>
                            <apex:column value="{!oli.digitalOLI.Cutomer_Cancel_Date__c}"/> -->
                            <apex:column value="{!oli.digitalOLI.Billing_Partner__c}"/>
                            <apex:column value="{!oli.digitalOLI.Billing_Frequency__c}"/>
                            <apex:column value="{!oli.digitalOLI.Payment_Method__c}"/> 
                            <apex:column value="{!oli.digitalOLI.Parent_ID__c}"/> 
                            <apex:column value="{!oli.digitalOLI.Parent_ID_of_Addon__c}"/>    
                        </apex:pageBlockTable>
                        <br/>
                 
                </apex:repeat>
            </apex:pageBlock>  
            </apex:outputpanel>
           <apex:actionfunction name="checkSimilarOlis" action="{!checkSimilarOlis}" id="olis" reRender="printSec" status="checkselect">
                <apex:param name="ordSetId" value="" assignTo="{!orderSetId}"/>
                <apex:param name="dirEdiId" value="" assignTo="{!dirEditionId}"/>
                <apex:param name="check" value="" assignTo="{!check}"/>
                <apex:param name="dirEditionStatus" value="" assignTo="{!dirEditionStatus}"/>
                <apex:param name="mainBook" value="" assignTo="{!mainBook}"/>
                <apex:param name="companionDir" value="" assignTo="{!companionDir}"/>
            </apex:actionfunction>
            
           <!-- Order line items with media type - Digital -->
           <apex:outputpanel id="digSec">
           <apex:pageblock rendered="{!AND(NOT(ISNULL(digitalOLIList)),digitalOLIList.size>0)}">
                <apex:pageblockTable value="{!digitalOLIList}" var="digOli">
                <apex:column >
                       <apex:inputCheckbox value="{!digOli.isSelected}" onchange="CheckBulndle('{!digOli.digitalOLI.Id}',this.checked)">
                       </apex:inputCheckbox>
                            </apex:column>
                    <apex:column value="{!digOli.digitalOLI.Canvass__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Product2__r.Name} / {!digOli.digitalOLI.UDAC__c}" headerValue="Product Name/UDAC"/>
                    <apex:column value="{!digOli.digitalOLI.Name}"/>
                    <apex:column value="{!digOli.digitalOLI.UnitPrice__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Order_Group__c}"/>
                   <!-- <apex:column value="{!digOli.digitalOLI.isCanceled__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Cutomer_Cancel_Date__c}"/>  -->
                    <apex:column value="{!digOli.digitalOLI.Billing_Partner__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Billing_Frequency__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Payment_Method__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Parent_ID__c}"/>
                    <apex:column value="{!digOli.digitalOLI.Parent_ID_of_Addon__c}"/>   
                </apex:pageblockTable>
            </apex:pageblock>
           </apex:outputpanel>
           <apex:actionFunction id="fncname" action="{!CheckBundle}" name="CheckBulndle" reRender="digSec" status="checkselect">
               <apex:param name="oliId" value="" assignTo="{!OLIIdforcheck}" />
               <apex:param name="OldValue" value="" assignTo="{!CheckBool}" />
            </apex:actionFunction>
            <apex:commandButton title="Save Selected Line Items" value="Save Selected Line Items and Create Opportunity" action="{!saveOppandOLIs}" />
           
    </apex:form>
</apex:page>