<apex:page controller="SetCancelTrue">
 <apex:pagemessages ></apex:pagemessages>
    <apex:form >
           <apex:commandButton value="Set Cancel True "  action="{!RunBatch}"/>
    </apex:form>
</apex:page>