<apex:page standardcontroller="Lead" extensions="SmartStreetleadVerification">
    <apex:form id="frmid">
                <apex:image id="theImage" value="{!$Resource.showimage1}" width="30" height="30" rendered="{!process}" />
                <apex:image id="theImage1" value="{!$Resource.Green}" width="30" height="30" rendered="{!green}"/>
                <apex:image id="theImage2" value="{!$Resource.Red}" width="30" height="30" rendered="{!red}"/>
        <apex:actionPoller action="{!incrementCounter}" interval="5" reRender="frmid"  enabled="{!stop_ap}" />
    </apex:form>
</apex:page>