<apex:page StandardController="Digital_Product_Requirement__c" extensions="UpdateDFFController" action="{!onLoad}">
    <apex:includeScript value="{!URLFOR($Resource.jQueryDoc, 'jQueyFiles/jQueyFiles/js/jquery-1.9.1.js')}"/>
    <script>
        var $ = jQuery.noConflict();
        function btnClick() {           
            $('input[id*=btnCopyFP]').attr('value','Saving...');
            $('input[id*=btnCopyFP]').attr('class', 'btnDisabled');
            $('input[id*=btnReturnDFF]').attr('value','Saving...');
            $('input[id*=btnReturnDFF]').attr('class', 'btnDisabled');
        }
        
        function btnComplete(){
            $('input[id*=btnCopyFP]').attr('value','Copy to Fulfillment Record');
            $('input[id*=btnCopyFP]').attr('class', 'btn');
            $('input[id*=btnReturnDFF]').attr('value','Cancel return to Fulfillment');
            $('input[id*=btnReturnDFF]').attr('class', 'btn');
            return true;
        }
    </script>
    <apex:form >
        <apex:pageMessages id="message" />      
        <apex:pageBlock >
            <apex:pageBlockButtons location="top">
                <apex:commandButton id="btnCopyFP" value="Copy to Fulfillment Record" action="{!updateDFFNew}" onclick="btnClick();" oncomplete="btnComplete();" reRender="message" rendered="{!Not(hideButton)}" />
                <apex:commandButton id="btnReturnDFF" value="Cancel return to Fulfillment" action="{!cancelDFF}" onclick="btnClick();" oncomplete="btnComplete();" />
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!lstWrapper}" var="itemC">             
                <apex:column >
                    <apex:inputCheckbox id="fbChkBox" value="{!itemC.bFlag}"/>
                </apex:column>
                <apex:column value="{!itemC.objProfile.Name}" />
                <apex:column value="{!itemC.objProfile.Account__c}" />
               <!-- <apex:column value="{!itemC.objProfile.Advertised_Business_Name__c}" />-->
               <!-- <apex:column value="{!itemC.objProfile.Advertised_Business_Email__c}" />-->
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>