<apex:page standardController="Account" extensions="UpdateTalusAccountController" action="{!updtTalusAcc}" showHeader="false" sidebar="false">
    <apex:form >
        <apex:pageblock >
            <apex:pageblockButtons location="top">
                <apex:commandButton value="Close" onclick="window.top.location='/{!Account.id}'; return false"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Talus Account Update" collapsible="false" columns="4">
            </apex:pageBlockSection>
            <apex:pageMessages escape="false">
            </apex:pageMessages>
        </apex:pageblock>
    </apex:form>
</apex:page>