<apex:component controller="LocalBillingCreditCardController" allowDML="true">
<apex:form id="frm">
        <apex:actionstatus id="fetchStatus">
            <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
            </apex:facet>
        </apex:actionstatus>
    <apex:pageBlock >
    <apex:pageBlockSection title="Credit Card" columns="1" id="pbsMain">
        <apex:pageBlockSectionItem >
             <apex:outputLabel value="Payment Method:" style="color: #4a4a56;font-weight: bold;width:300px;"/>
                 <apex:selectList value="{!paymentType}" size="1"  >
                        <apex:selectOptions value="{!PaymentMethods}"/>
                 </apex:selectList>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputPanel Layout="block" style="width:60%">
                <apex:pageBlockSection columns="3">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="From Date:"></apex:outputLabel>
                        <apex:inputField value="{!objDummy.From_Date__c}" id="billstartdate"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="To Date:"></apex:outputLabel>
                        <apex:inputField value="{!objDummy.To_Date__c}" id="billenddate"/>
                   </apex:pageBlockSectionItem>
                   <apex:pageBlockSectionItem >
                   <apex:commandButton value="Go" action="{!clickGoNew}" reRender="pbsMain,opsLOB,opPostFF" status="fetchStatus"/>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
                 <apex:outputPanel >
                        <apex:outputLabel value="{!strNoofAccountAndInvoice}" />
                    </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
                 <apex:outputPanel >
                       <apex:outputLabel value="{!strNoofAccountAndSCN}" />
                 </apex:outputPanel>
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    <apex:outputPanel id="opsLOB">
        <apex:pageBlockSection title="Reconcilation" columns="1"  rendered="{!bShowReconciliation}" id="pbsLOB">
            <apex:outputpanel >
                <apex:commandLink action="/{!EverythingGoneLivewithInvoice}?pv2=Credit%20Card&colDt_s={!objDummy.From_Date__c}&colDt_e={!objDummy.To_Date__c}" target="_blank" value="Go Live - Raised Invoice Report" id="clGoLiveRaisedInvoiceReport"/>     &nbsp;&nbsp;&nbsp;          
                 <apex:commandLink action="/{!CCSubsequentReconcileReportId}?pv0={!objDummy.From_Date__c}&pv1={!objDummy.To_Date__c}&pv4={!objDummy.From_Date__c}&pv5={!objDummy.To_Date__c}" target="_blank" value="Reconciliation Report" id="clReconciliationReport"/>&nbsp;&nbsp;&nbsp;
              <!--  <apex:commandLink action="/apex/SubsequentReconciliationReport?edate={!objDummy.From_Date__c}&sdate={!objDummy.From_Date__c}&rtype=Digital&isCreditCard=true" target="_blank" value="FC Subsequent Report" id="FCReconciliationReport"/>  -->
            </apex:outputpanel>
            
            <apex:outputPanel >
                <apex:inputCheckbox id="chkReconciled" value="{!bReconciled}">
                    <apex:actionsupport event="onchange" status="fetchStatus" rerender="opsLOB"/>
                </apex:inputCheckbox>
                <apex:outputLabel value="Reconciled" for="chkReconciled"/> <br/> <br/> 
                <apex:commandButton value="Save" id="NextStep" action="{!updateSIwithReconciledCheckBox}" disabled="{! NOT(bReconciled) }" reRender="opPostFF,opReconciliationPanel" status="fetchStatus"/>
            </apex:outputPanel> 
            <apex:outputPanel id="opReconciliationPanel">
                        <apex:actionPoller action="{!apexReconciliationJobStatus}" enabled="{!bReconciliationEnabledPoller}" interval="5" reRender="opReconciliationPanel,opPostFF" status="counterStatus"/>
                        <apex:actionStatus startText="Fetching Status..." id="counterStatus"/>
                        <br/>
                        <apex:outputLabel value="{!strSIReconcileBatchStatus}" />
                        <br/>
                        <apex:outputLabel value="{!strSCNReconcileBatchStatus}" />
                    </apex:outputPanel>        
        </apex:pageBlockSection>
    </apex:outputPanel>
    <apex:outputPanel id="opPostFF">
        <apex:pageBlockSection title="Post to Financial Force" columns="1" rendered="{!bShowPostFF}">
            <apex:outputPanel >
                <apex:commandLink action="/{!rptPostingInvoice}?colDt_e={!objDummy.To_Date__c}&colDt_s={!objDummy.From_Date__c}" target="_blank" value="Invoice Posting Report" id="clInvoicePostingReport"/>&nbsp;&nbsp;&nbsp;
                <apex:commandLink action="/{!rptPostingSCN}?colDt_e={!objDummy.To_Date__c}&colDt_s={!objDummy.From_Date__c}" target="_blank" value="SCN Posting Report" id="clSCNPostingReport"/>
            </apex:outputPanel>
            <apex:outputPanel >
                <apex:inputCheckbox id="chkPostSI" value="{!bPostAllInvoice}">
                    <apex:actionsupport event="onchange" status="fetchStatus" reRender="opPostFF"/>
                </apex:inputCheckbox>
                <apex:outputLabel value="Post All Invoice and Credit Note" />
            </apex:outputPanel>
            <apex:outputPanel >
                <apex:commandButton id="btnPostingInvoice" value="Post to FF" action="{!postFFInvoice}" disabled="{! NOT(bPostAllInvoice) }" reRender="opPostFF" status="fetchStatus"/>
                <apex:actionPoller action="{!apexJobStatus}" enabled="{!bEnabledPoller}" interval="5" reRender="opPostFF"/>
            </apex:outputPanel>
            <apex:outputPanel >
                <apex:outputLabel value="{!strBatchStatus}" />
            </apex:outputPanel>
            <apex:outputPanel >
                <apex:outputLabel value="{!strSCNBatchStatus}" />
            </apex:outputPanel>
        </apex:pageBlockSection>
     </apex:outputPanel>
    </apex:pageBlock>
</apex:form>
</apex:component>