<apex:component controller="LocalBillingDigitalLocalController" allowDML="true">
    <apex:form > 
        <apex:pageMessages ></apex:pageMessages>
        <apex:actionstatus id="fetchStatus">
            <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock >
            <apex:actionFunction name="populateEdition" action="{!fetchDirectoryEdition}" status="fetchStatus" reRender="pbsMain"/>
            <apex:pageBlockSection title="Digital Local/Foreign" columns="1" id="pbsMain">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Bill prep Date"></apex:outputLabel>
                    <apex:inputField value="{!objDummy.Date__c}" id="billdate" onblur="populateEdition();" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Billing Entity"></apex:outputLabel>
                    <apex:outputPanel >
                        <apex:selectList value="{!strSelectedBillingEntity}" multiselect="false" size="1">
                            <apex:selectOptions value="{!lstBillingEntity}"/>
                        </apex:selectList>
                        &nbsp;&nbsp;<apex:commandButton value="Go" action="{!checkInvoicesforDigitalNew}" reRender="opLOB,pbsMain,opPostFF,opCreateTelco" status="fetchStatus"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <apex:outputLabel value="{!strNoofAccountAndInvoice}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <apex:outputLabel value="{!strNoofAccountAndSCN}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:outputPanel id="opLOB">
            <apex:pageBlockSection title="Subsequent Report" columns="1" id="pbsSR" rendered="{!bInvoicePresent}">
                <apex:outputPanel >                    
                    <apex:commandLink action="/{!DigitalSubsequentReconcileReportId}?pv0={!objDTS.Invoice_From_Date__c}&pv1={!objDTS.Invoice_To_Date__c}&pv4={!objDTS.Billing_Entity__c}&pv5={!objDTS.Invoice_From_Date__c}&pv6={!objDTS.Invoice_To_Date__c}" target="_blank" value="Subsequent Digital Report" id="clSubSequentDigital"/>&nbsp;&nbsp;&nbsp;
                 <!--   https://berry--bqa1.cs9.my.salesforce.com/00OK0000000TZV3?pv0=1/1/2015&pv1=3/19/2015&pv4=CITIZENS&pv5=1/1/2015&pv6=3/19/2015 
                    <apex:commandLink action="/apex/SubsequentReconciliationReport?rtype=Digital&sdate={!objDTS.Invoice_From_Date__c}&edate={!objDTS.Invoice_To_Date__c}&billingEntity={!objDTS.Billing_Entity__c}" target="_blank" value="FC Subsequent Report" id="FCSubSequentDigital"/>&nbsp;&nbsp;&nbsp; -->
                    <apex:commandLink value="LOB Report" target="_blank" action="/{!LOBReportId}?pv0={!objDTS.Billing_Entity__c}"/>                
                </apex:outputPanel>
                <apex:outputPanel >                    
                    <apex:inputCheckbox id="bReconciled" value="{!bReconciled}">
                        <apex:actionsupport event="onchange" status="fetchStatus" rerender="updateSve"/>
                    </apex:inputCheckbox>
                    <apex:outputLabel value="Reconciled" for="chkReconciled"/>&nbsp;&nbsp;
                    
                    <apex:inputCheckbox id="bMIRT" value="{!bMIRT}">
                        <apex:actionsupport event="onchange" status="fetchStatus" rerender="updateSve"/>
                    </apex:inputCheckbox>
                    <apex:outputLabel value="MIRT" for="chkMIRT"/>&nbsp;&nbsp;
                    
                    <apex:commandButton id="updateSve" value="Save" action="{!updateSIwithReconciledCheckBox}" disabled="{! NOT(bReconciled && bMIRT) }" reRender="opPostFF,opReconciliationPanel" status="fetchStatus"/>                 
                </apex:outputPanel>
                <apex:outputPanel id="opReconciliationPanel">
                        <apex:actionPoller action="{!apexReconciliationJobStatus}" enabled="{!bReconciliationEnabledPoller}" interval="5" reRender="opReconciliationPanel,opPostFF" status="counterStatus"/>
                        <apex:actionStatus startText="Fetching Status..." id="counterStatus"/>
                        <br/>
                        <apex:outputLabel value="{!strSIReconcileBatchStatus}" />
                        <br/>
                        <apex:outputLabel value="{!strSCNReconcileBatchStatus}" />
                    </apex:outputPanel>
            </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:outputPanel id="opPostFF">
                <apex:pageBlockSection title="Post to Financial Force" columns="1" id="pbsPostFF" rendered="{!bShowPostFF}">
                    <apex:outputPanel >
                        <apex:commandLink id="btnInvPostReport" value="Invoice Posting Report" action="/{!digitalInvoicePostReport}?pv2={!objDTS.Billing_Entity__c}&colDt_e={!objDTS.Invoice_To_Date__c}&colDt_s={!objDTS.Invoice_From_Date__c}" target="_blank"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:commandLink id="btnSCNPostReport" value="Sales Credit Note Posting Report" action="/{!digitalSCNPostReport}?pv0={!objDTS.Billing_Entity__c}&colDt_e={!objDTS.Invoice_To_Date__c}&colDt_s={!objDTS.Invoice_From_Date__c}" target="_blank"/>
                    </apex:outputPanel>
                    <apex:outputPanel >
                        
                        <apex:inputCheckbox id="bPostAllInvoice" value="{!bPostAllInvoice}">
                            <apex:actionsupport event="onchange" status="fetchStatus" rerender="btnPostingInvoice"/>
                        </apex:inputCheckbox>
                        <apex:outputLabel value="Post All Invoice" for="chkPostSI"/>                    
                    
                    </apex:outputPanel>
                    <apex:outputPanel id="opPostFF">
                        <apex:commandButton id="btnPostingInvoice" disabled="{! !bPostAllInvoice }" value="Post to FF" action="{!postFFInvoice}" reRender="pbsPostFF" status="fetchStatus"/>&nbsp;&nbsp;
                        <apex:actionPoller action="{!apexJobStatus}" enabled="{!bEnabledPoller}" interval="5" reRender="opPostFF,opCreateTelco"/>
                        <apex:outputLabel value="{!strInvBatchStatus}" />
                        <apex:outputLabel value="{!strSCNBatchStatus}" />
                    </apex:outputPanel>
                </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:outputPanel id="opCreateTelco">
                <apex:pageBlockSection title="Create Telco File" columns="1" id="pbsCreateTelco" rendered="{!bShowCreateTelco}">
                    <apex:panelGrid columns="2" width="75%">
                        <apex:panelGroup >
                            <apex:commandButton value="Create & Send Telco File" status="fetchStatus" reRender="opCreateTelco" action="{!SendTelcoFile}" disabled="{!!objDTS.Telco_Receives_EFile__c}" />                 
                            <apex:actionPoller action="{!CheckTelcoOutput}" enabled="{!bEnabledPollerForTelco}" interval="5" reRender="opCreateTelco"/>
                            <apex:outputLabel value="{!strBatchStatusTelco}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!SILITotal}"/>
                                </apex:outputText>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel style="float: left;width: 200px;">Telco Received Electronic File</apex:outputLabel>
                            <apex:inputCheckbox id="elcetronicchkbox" value="{!objDTS.Telco_Receives_EFile__c}" disabled="true"/>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="XML Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!objDTS.XML_Output_Total_Amount__c}"/>
                                </apex:outputText>
                        </apex:panelGroup>                      
                    </apex:panelGrid>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
</apex:component>