<apex:component controller="NationalBillingReportMaint">
    <apex:pageBlock mode="edit" id="pblk">
        <apex:pageBlockSection columns="1">
            <apex:panelGrid columns="1" id="reportGrid" width="100%" cellspacing="5">
				<apex:outputLink target="_blank" style="align:right" title="List of Business" value="/{!PrintLOBReportId}">List of Business</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="Tax Rate Report" value="/{!TaxRateReportId}">Tax Rate Report</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="Directory Status by Edition" value="/{!DirStatusReportId}">Directory Status by Edition</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="ISS to CMR Validation Report" value="/{!ISSToCMRReportId}">ISS to CMR Validation Report</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="Taxable Order Line Item Report" value="/{!TaxClientReportId}">Taxable Order Line Item Report</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="Page Number OLI Validation Report" value="/{!PageNumValReportId}">Page Number OLI Validation Report</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="Directories to Bill by Pub Co & Edition" value="/{!DirsToBillReportId}">Directories to Bill by Pub Co and Edition</apex:outputLink>
	            <apex:outputLink target="_blank" style="align:right" title="National Staging Line Items" value="/{!NSLIsReportId}">National Staging Line Items</apex:outputLink> 
			</apex:panelGrid>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:component>