<apex:component controller="NationalBillingReportMaint">
    <apex:pageBlock mode="edit">
        <apex:pageBlockSection columns="1">
            <apex:panelGrid columns="1" id="maintenanceGrid" width="100%" cellspacing="5">
                <apex:outputLink target="_blank" style="align:right" title="National Order Lockout" value="{!mpReportDevNameId['DirectoryObjURL']}">National Order Lockout</apex:outputLink>
                <apex:outputLink target="_blank" style="align:right" title="National Tax table(Salesforce)" value="{!mpReportDevNameId['NationalTax']}">National Tax table(Salesforce)</apex:outputLink>
                <apex:outputLink target="_blank" style="align:right" title="Reprint ISS" value="/{!ISSRePrintReportId}">Reprint ISS</apex:outputLink>
                <apex:outputLink target="_blank" style="align:right" title="Reprint National Invoice" value="/{!NatInvReprintReportId}">Reprint National Invoice</apex:outputLink>
            </apex:panelGrid>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:component>