<apex:component controller="publicsitepages" allowDML="true">
 <apex:panelGrid cellpadding="0" cellspacing="0" width="100%" border="0" style="text-align: right;" columns="1" id="thePoweredByTop">
    <apex:panelGroup id="poweredBy">
      <apex:outputText style="font-size: smaller" value="{!$Label.site.powered_by}"/>
     <apex:image value="{!photoURL}" url="{!photourl}"   styleclass="img"  alt="Salesforce" width="233" height="55" title="Salesforce">   </apex:image> 
    </apex:panelGroup>
   </apex:panelGrid>
   
</apex:component>