<apex:component >
<script type="text/javascript">

Ext.application({name: "TestApp1",
    launch: function() {
    
        var mainView = Ext.create('Ext.Panel', {
            fullscreen: true,
            html: 'Welcome To Our World!'
        });
        Ext.Viewport.add([mainView]);
   }
});

</script>    
     
</apex:component>